
/* GENERAL */
body  { background:#1B5790; margin: 0; padding: 0px; font-family: "Helvetica Neue", arial, verdana, sans-serif; font-size:12px; color:#535A60; }
img   { border-width:0; border-style:none; }
blockquote { margin:0; }
h1,h2,h3,h4,h5,h6 { margin: 0; padding:0; }
h1 { color:#333333; font-size:32px; font-weight: bold; margin-bottom:10px;}
h2 { font-weight:normal; }
ol, ul, dl { list-style:none; margin:0; padding:0; }
a { color: #0077BB; text-decoration:none;}
a:visited { color: #0077BB; }
a:hover { color: #0077BB; text-decoration:underline;}

/* Clearfix Method: http://www.positioniseverything.net/easyclearing.html */
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {	display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

#body { width:800px; clear:both; padding:9px 10px; margin:9px auto 4px auto; min-height: 300px; background:#fff; }
/*.title     { font-size: 20px; font-weight: bold; }*/
.review     { font-size: 12px; }
.comment    { font-size: 12px; }
.xsmalltext { font-size: x-small; }
.smalltext { font-size: 9pt; }
.confirmation { text-align:center; margin-left:auto; margin-right:auto; background-color:#ffc; border:1px solid #efefef; color:green; font-size:14px; font-weight:bold; padding:15px 0px; margin:0px 0px 5px; }
.error { text-align:center; margin-left:auto; margin-right:auto; background-color:#f33; border:1px solid #efefef; color:#fff; font-size:14px; font-weight:bold; padding:2px 0px; margin:2px 0px 5px; }

#map_canvas {height: 250px; width: 540px; margin: 0 0 5px; }



/* HEADER */
#pageHeader { background:#1B5790; width:920px; height:70px; color: #ffffff; font-size: 12px; margin:0 auto; position:relative; z-index:11;}
#pageHeader .brand { position:absolute; bottom:0px; left:13px; width:289px; height:49px; }
#pageHeader .brand a { display:block; outline-color:invert; outline-style:none; outline-width:0px; text-decoration:none; text-indent:-9999px; width:289px; height:49px; }
#pageHeader .welcome { width:480px; position:absolute; bottom:47px; right:15px; text-align:right; color:#9ec1e5; }
#pageHeader .welcome a { color:#ffffff; padding:0 4px; }


/*#pageTop { width:800px; height:7px; padding:0px 10px; margin:9px auto 0px; position:relative; }
#pageTop p { width:780px; height:7px; padding:0px; margin:0px; position:absolute; top:0; right:0; }*/
#pageBody { width:900px; clear:both; padding:3px 10px 9px; margin:0px auto 4px; background-color:#fff; min-height: 300px; }
#pageFooter { font-size:11px; color:#000; background-color:#1B5790; width:900px; margin:0 auto 20px auto; padding:10px; position:relative; }
#pageFooter p { clear:both; margin:0; padding:0; color:#ccc; margin-bottom:5px; line-height:16px; }
#pageFooter p strong { color:#000; font-weight:normal; }
#pageFooter .pageCopyright { color:#000; margin-top:14px; }
#pageFooter .boxtail { position:absolute; bottom:0; left:0; width:820px; height:9px; background:#fff; }
#pageFooter strong.alphabet { float:left; padding-right:10px; font-weight:normal; margin-bottom:5px; }
#pageFooter ul.alphabet { display:inline; list-style:none; padding:0; margin:0; }
#pageFooter ul.alphabet li { float:left; display: inline; margin:0; }
#pageFooter ul.alphabet li a { padding:0 5px; }


/* CONTENTS */
#contents { clear:both; width:800px; margin-left: auto; margin-right: auto; }

.left { float:left; }
.right { float:right; }
.clear { clear:both; line-height:0px; height: 0; }
.rowclear { clear:both; }



/* BOX */
.box .boxHeader { position:relative; overflow:hidden; }
.box .boxHeaderTitle { height:26px; }
.box .boxHeaderNoTitle { height:16px; }
.box .boxHeader .boxIcon { margin-top:-5px; }
.box .boxHeader h1 { color:#e57f3e; height:26px; line-height:26px; margin-left:12px; font-size:14px; padding-top:4px; }
.box .boxHeader h2 { color:#5a7792; height:26px; line-height:26px; margin-left:12px; font-size:14px; padding-top:4px; }
.box .boxHeader h3 { color:#5a7792; height:26px; line-height:26px; margin-left:12px; font-size:14px; padding-top:4px; }
.box .boxHeader span { position:absolute; font-weight: normal; color: #fff; top:7px; right:10px; }
.box .boxHeader a { font-weight:normal; }
.box .boxContent { padding:10px 12px 4px 12px; background-color:#fff; }
.box .boxFooter { height:5px; font-size:0px; line-height:0px; background-color:#fff; }
.box .boxTail { height:5px; line-height:0px; margin-left:12px; font-size:0px; background-color:#fff; }
.box .boxDivider { padding:5px 0px 3px 10px; /*border-left:1px solid #dcedff; border-right:1px solid #dcedff;*/}
.box .boxDivider hr { width:98%; height:2px; margin:0px; padding:0px; border:0;  }
.b1 hr { color:#e57f3e; background-color:#e57f3e; }
.b2 hr { color:#5a7792; background-color:#5a7792; }
.b3 hr { color:#5a7792; background-color:#5a7792; }



/* bodyContent */
#bodyContent { width:850px; margin:0 auto; }
#bodyContent #mainColumn { width:530px; float:left; }
#bodyContent #sideColumn { width:300px; float:right; }
#bodyContent p { margin:0; padding:0; }
#bodyContent .box { margin-bottom:12px; }
#bodyContent .boxlinks { text-align:right; margin:3px 0; font-size:12px; }
#bodyContent .boxlinks h2 { font-size:12px; font-weight:normal; display:inline; margin:0; padding:0; }
#bodyContent .loading { margin:0 auto; }
#bodyContent .forwardLink { padding-right:15px; }
#bodyContent ul.imageTextLinks li { float:left; width:80px; padding:0 5px; }
#bodyContent ul.imageTextLinks li a { display:block; text-align:center; font-size:11px; }
#bodyContent ul.imageTextLinks li a:hover { text-decoration:none; }
#bodyContent ul.imageTextLinks li span { display:block; padding:5px 0; line-height:10px; }
#bodyContent p.empty { margin:12px 0px; font-size:12px; }
#bodyContent .userImg { float:left; width:50px; text-align:center; }
#bodyContent .text { float:right; width:450px; }
#bodyContent .comment { border-bottom:1px solid #DCEDFF; margin:0 0 11px; padding:0 0 10px; }
#bodyContent .comment .username { font-weight:bold; margin-bottom:4px; }
#bodyContent .comment .date { float:right; font-size:11px; color:#aaa; }
#bodyContent .comment .modificationLinks { float:right; font-size:11px; margin:4px 0; }
#bodyContent .comment blockquote { overflow:hidden; margin:4px 0 0; padding-left:20px; }
#bodyContent .comment blockquote img { max-width:390px; }
#bodyContent .comment .mct { font-weight:normal; }
#bodyContent .reviews .badge { margin:4px auto; }
#bodyContent .reviews .share { float:right; font-size:11px; }
/*#bodyContent #details { font-size:11px; }*/
/*#bodyContent #details .title { color:#333; margin-bottom:10px; font-size:32px; }*/
/*#bodyContent #details .leftSide { float:left; }
#bodyContent #details .poster { margin-bottom:8px; }*/
#bodyContent #news ul li { margin:8px 0px; }
#bodyContent #news .storyImg { float:left; width:60px; height:60px; overflow:hidden; margin-right:12px; }
#bodyContent #news .age { font-size:10px; color:#aaa; }

