{% extends "places/base.html" %}

{% block extrahead_base %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ MAPS_API_KEY }}"
            type="text/javascript"></script>

    <script type="text/javascript">

    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng({{ object.lat }}, {{ object.lon }}), 17);
        map.addControl(new GMapTypeControl());
	map.removeMapType(G_PHYSICAL_MAP);
        map.addControl(new GSmallMapControl());

        function createMarker(point, index, name, cate, ico) {
          var catIcon = new GIcon(G_DEFAULT_ICON);
          catIcon.image = "{{ STATIC_URL }}img/"+ico+".png";
  	  catIcon.iconSize = new GSize(32, 32);

          var marker = new GMarker(point,{title:name,icon:catIcon});

          GEvent.addListener(marker, 'click', function() {
            marker.openInfoWindowHtml("<b>"+name+"</b>");
          });
          return marker;
        }

	{% if object %}
            var point_tid = new GLatLng({{ object.lat }}, {{ object.lon }});
            map.addOverlay(createMarker(point_tid,1,'{{ object.name }}','{{ object.category }}','{{ object.category.slug }}'));
        {% endif %}

      }
    }

    </script>

{% endblock %}

{% block body_class %}places{% endblock %}
{% block body_extra_params %}onload="initialize()" onunload="GUnload()"{% endblock %}

{% block body %}

  <div id="mainColumn">
    <div>
      <h1>{{ object.name }}</h1>
      <h2><a href="{{ object.city.get_absolute_url }}">{{ object.city }}</a> - {{ object.city.country }}<br><br></h2>
      <b>Categoria: </b><a href="/{{ object.city.slug }}/{{ object.category.slug }}">{{ object.category }}</a><br>
      {% if object.address %}<b>Direccion: </b>{{ object.address }}<br>{% endif %}
      {% if object.address %}<b>Telefonos: </b>{{ object.tel }}<br>{% endif %}
      {% if object.url %}<a href="{{ object.url }}" target="_blank">Sitio web</a><br>{% endif %}
      <b>Creado: </b>{{ object.created|date:"d/F/Y"|lower }}<br><br><br>
    </div>

    <form action="" method="POST">
      <textarea class="largefield" cols="40" id="review_body" name="review[body]" rows="10"></textarea>
      <br>
    </form>



    {% if object.suggestion_set.count %}
      <div class="box b3" id="topReviews">
        <div class="boxHeader boxHeaderTitle">
  	  <h3 class="clearfix">xHacer</h3>
        </div>

        <div class="boxDivider"><hr /></div>
          <div class="boxContent clearfix">
            <ul class="reviews">

              {% for sugg in object.suggestion_set.all %}
                <li class="comment clearfix ">
		  <div class="userImg">
                    <a href="" title="{{ sugg.user }}" ><img src="{{ STATIC_URL }}img/Dummy_user.png" width="50" alt="{{ sugg.user }}" /></a><br/>
	          </div>

		  <div class="text">
		    <div class="date">{{ sugg.created|date:"d/F/Y"|lower }}</div>
		    <div class="username">
                      <a href="" title="{{ sugg.user }}" >{{ sugg.user }}</a>
		    </div>
		    <p>{{ sugg.text }}</p>
		    <!-- <div class="share"><a href="">I like it</a></div> -->
	          </div>
	        </li>
              {% endfor %}

            </ul>

            <div class="boxlinks">
              <h2><a href="" class="forwardLink" >Ver todas las sugerencias</a></h2>
            </div>

          </div>
        </div>
    {% endif %}
  </div>


  <div id="sideColumn">
    <br><br>
    <div>
      <div id="map_canvas" style="width: 300px; height: 300px"></div>
    </div>
    <br>

    {% if other_places %}
    <div class="box b3 "   id="news">
      <div class="boxHeader boxHeaderTitle">
        <h3 class="clearfix">Sitios Relacionados</h3>
      </div>

      <div class="boxDivider"><hr /></div>

      <div class="boxContent clearfix">
        <ul>
          <li class="clearfix">
            <a href=""  title="Wepa"  ><img src="img/restaurantes-big.png" width="60" height="60" alt=""  class="storyImg" border="0" />        </a>
            <h4><a href=""  title="Wepa"  >Wepa</a></h4>
            <div>Agregado por <a href=""  title="eaguera">eaguera</a></div>
            <div class="age">Hace 3 dias</div>
          </li>
        </ul>
        <div class="boxlinks">
	  <a href="">Adicionar un sitio</a> | <a href="">Ver todos los sitios</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

{% endblock %}
